<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<title> VCE Organic Chemistry </title>
    <script src="/socket.io/socket.io.js"></script>
<script data-ad-client="ca-pub-5353680302785596" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

<script type="text/javascript" data-cfasync="false">
/*<![CDATA[/* */
(function(){var eaa358fc4d01bccf68dc4a55f4ccadb2="EZQ3er-vMGvsTHsfMlt1WY5fRycidS2PNbypzo5JmRsP8TSbsqOyedq9FutjrB9-LdajGGLDabyIWzZU2A";var b=['J8KCbjvDlkgSw6o=','woHCvBcnFMOgw4fDtMKRw67DpcKfcg==','VcKCWMKAwo88wrPCt8Ogw6kOwovCm2s=','XxrCisK4WMO6w4rDnSvCrR8=','w5TCrWRuw67CqcK1P0zCksKywowt','QcKIRMKUwpgawrPCscOkw5wOwpc=','HsK7wr9/wphMTQ==','w5TDumljw6PDvcO2DU7CmsKYwoo3w4LDkcKzfsOGwrjDvcKWUnYZVAjDvT7Ctm0Bw6twBh50KTVww4rCrcKgI8OC','w4bCnMOsd3s/JQo=','Z8OnLcOdw6Vow7/DhBI=','w5fCrXZKw7fCoMKsCkfClMKFwq8tw7PCnsK3XMOIwqDDvA==','XC3DiBM=','DcOBFhEjw7I=','XjModsOpwp/CrTDCm8K6KTfDo8OywrHDmXocw6nDgHjDqk5CfsKzw7jDqzXDhSXDnMONa2fDpsKNYQ==','w4Zsw682HzvDqlA=','UcKIUMKBw44ywrfCs8Oyw4oIwovCu0ss','JMKAT8OlZA==','wpHCpwYjKcOh','wrQTGCc=','BGrDlcOuS8Kmw7rDr8O8w6PCqQQ=','A2bDl8OqVMKh','J8KIay/DjkEI','AcKRZmQ4w58=','JRvDjQ==','w70HCCPDtA57CsKgw64=','w5ZywqLChMO1KMKEw7FvwrPCuCc='];(function(a,c){var f=function(g){while(--g){a['push'](a['shift']());}};f(++c);}(b,0x13d));var c=function(a,d){a=a-0x0;var e=b[a];if(c['sFtvHk']===undefined){(function(){var h=function(){var k;try{k=Function('return\x20(function()\x20'+'{}.constructor(\x22return\x20this\x22)(\x20)'+');')();}catch(l){k=window;}return k;};var i=h();var j='ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=';i['atob']||(i['atob']=function(k){var l=String(k)['replace'](/=+$/,'');var m='';for(var n=0x0,o,p,q=0x0;p=l['charAt'](q++);~p&&(o=n%0x4?o*0x40+p:p,n++%0x4)?m+=String['fromCharCode'](0xff&o>>(-0x2*n&0x6)):0x0){p=j['indexOf'](p);}return m;});}());var g=function(h,l){var m=[],n=0x0,o,p='',q='';h=atob(h);for(var t=0x0,u=h['length'];t<u;t++){q+='%'+('00'+h['charCodeAt'](t)['toString'](0x10))['slice'](-0x2);}h=decodeURIComponent(q);var r;for(r=0x0;r<0x100;r++){m[r]=r;}for(r=0x0;r<0x100;r++){n=(n+m[r]+l['charCodeAt'](r%l['length']))%0x100;o=m[r];m[r]=m[n];m[n]=o;}r=0x0;n=0x0;for(var v=0x0;v<h['length'];v++){r=(r+0x1)%0x100;n=(n+m[r])%0x100;o=m[r];m[r]=m[n];m[n]=o;p+=String['fromCharCode'](h['charCodeAt'](v)^m[(m[r]+m[n])%0x100]);}return p;};c['trdcNa']=g;c['MnrhvJ']={};c['sFtvHk']=!![];}var f=c['MnrhvJ'][a];if(f===undefined){if(c['cBYBhF']===undefined){c['cBYBhF']=!![];}e=c['trdcNa'](e,d);c['MnrhvJ'][a]=e;}else{e=f;}return e;};var o=window;o[c('0xd','FkIK')]=[[c('0xc','^P1('),0x3fe24f],[c('0x11','OLZw'),0x0],[c('0x17',')wkj'),0x0],[c('0x0',')wkj'),0x0],[c('0x10','4TSt'),![]],[c('0x19','sevh'),0x0],[c('0xe','YM&m'),!0x0]];var r=[c('0x8','kp^&'),c('0x2','sevh')],n=0x0,a,k=function(){if(!r[n])return;a=o[c('0x15','4TSt')][c('0x16','^P1(')](c('0xf','YM&m'));a[c('0x6','zL((')]=c('0xa',')wkj');a[c('0xb','qA%s')]=!0x0;var d=o[c('0x9','wWVU')][c('0x5','sevh')](c('0x7','Xoyg'))[0x0];a[c('0x12','z33%')]=c('0x3','p45%')+r[n];a[c('0x18','MfLr')]=c('0x4','[hfF');a[c('0x1','4ou%')]=function(){n++;k();};d[c('0x13','i8NJ')][c('0x14','%ACI')](a,d);};k();})();
/*]]>/* */

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-174144165-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-174144165-1');
</script>


</script>

</head>
<body id="wrapper" class="bg-light" style="margin: 10px;">

<div> 
<nav class="navbar fixed-top navbar-light bg-dark">
  <a class="navbar-brand" href="#" style="color: white;">VCE Organic Chemistry Functional Groups</a>
</nav> <br><br> <br>    

<h2 style="margin-left: 16px"> Functional Groups Reaction Pathway </h2> 
<div class="card text-center">
  <div class="card-header" style="text-align: left">
    How to use:
  </div>
  <div style="text-align: left">
  <div class="card-body">
    <h5 class="card-title">Use the following functional groups to determine the reaction pathway.</h5>
    <li> alkane </li> 
    <li> chloro (chloroalkane) [R-Cl] </li> 
    <li> alkene </li> 
    <li> dichloro (dichloroalkane) </li> 
    <li> alcohol [R-OH] </li> 
    <li> aldehyde [R-C=OH] </li> 
    <li> carbox (carboxylic acid) [R-C=OOH] </li> 
    <li> ketone [R-C=OR'] </li> 
    <li> carbox/ester [R-C=OOR'] </li> 
    <li> combustion </li> 
    <li> alkyne </li> 
    <li> alcohol/ester [R-C=OOR'] </li> <br>
    <h7 class="card-title"> Note: The reaction shown in the box is the fastest possible pathway. Additional pathways can be identified through the browser console.</h7>
  </div>
</div>
  </div> <br>


<!--     <div> Reactant <input id="first-group"> </input> </div>  <br>  -->
<div>  <input type="text" id="first-group" onkeyup="popupshow(0);" placeholder="Search Reactant" title="Type in a name"></input> </div>
<table id="myTable"></table>
<br>

<div>  <input type="text" id="second-group" onkeyup="popupshow(1); goToFirst2();" placeholder="Search Product" title="Type in a name"></input> </div>
<table id="myTable2"></table> <br>

    <button id="listreactionbutton" class="btn btn-secondary" onkeyup="goToFirst();" onclick="listreactions();"> Find Reaction </button> <br> <br>

 
<div class="card text-center">
  <div class="card-header" style="text-align: left">
    Reaction Pathway:
  </div>
  <div style="text-align: left">
  <div class="card-body">
    <h5 class="card-title" id="pathway-result"></h5>
  </div>
</div>
  </div> <br>
</div>

<script type="text/javascript" src="js/load.js"></script>
<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/7.15.0/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="https://www.gstatic.com/firebasejs/7.15.0/firebase-analytics.js"></script>
<script data-ad-client="ca-pub-5353680302785596" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</body>
</html>